openapi: 3.1.0
info:
  title: NuGet Server API (V3) PackageContent Search API
  description: The NuGet Server API is the set of HTTP endpoints used by the .NET CLI, NuGet client, Visual Studio, and other tooling to discover, download, publish, and unlist NuGet packages from nuget.org and compatible package sources. Entry point is the service index at /v3/index.json. Endpoints documented here cover discovery (service index), search, registration (package metadata), package base address (content), and publish.
  version: '3'
servers:
- url: https://api.nuget.org/v3
  description: nuget.org V3 API root
security: []
tags:
- name: Search
paths:
  /query:
    get:
      tags:
      - Search
      summary: Search packages
      description: Query the SearchQueryService resource for packages matching a search string. The base URL of the search service should normally be discovered from the service index; this path reflects the nuget.org search resource.
      operationId: searchPackages
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search terms used to filter packages.
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: take
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: prerelease
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: semVerLevel
        in: query
        required: false
        schema:
          type: string
          example: 2.0.0
      - name: packageType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        totalHits:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
    SearchResult:
      type: object
      properties:
        id:
          type: string
        version:
          type: string
        description:
          type: string
        authors:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        iconUrl:
          type: string
          format: uri
        licenseUrl:
          type: string
          format: uri
        projectUrl:
          type: string
          format: uri
        registration:
          type: string
          format: uri
        summary:
          type: string
        tags:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        title:
          type: string
        totalDownloads:
          type: integer
        verified:
          type: boolean
        versions:
          type: array
          items:
            type: object
            properties:
              '@id':
                type: string
                format: uri
              version:
                type: string
              downloads:
                type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-NuGet-ApiKey
      description: NuGet API key (required only for PackagePublish push/delete operations).
x-generated-from: https://learn.microsoft.com/en-us/nuget/api/overview
x-generated-by: claude-genwave10-08-2026-05-23
